h1{
    text-align: center;
}

#kep{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.kepp{
    width: 1000px;
}

#wiki{
    font-size: 40px;
    font-style: italic;
    color: black;
    font-weight: bold;
}

.tort{
    font-weight: bold;
    font-size: 20px;
}

.kup{
    width: 600px;
    height: 600px;
}

.coli{
    width: 500px;
}


#imx{
    width: 95%;
    margin: auto;
    
}










